<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>{{site_name}} {% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/main.css" />
    <link rel="stylesheet" type="text/css" href="{{MEDIA_URL}}/pygments.css" />
    <link rel="alternate" type="application/rss+xml" title="All blog posts" href="{{site_url}}/feeds/articles" /> 
</head>

<body>
<div id="outer">
    <div id="header">
        {% include "posts/heading.html" %}
    </div>
    <div id="main">
        <div id="content">
            {% block content-heading %} {% endblock %}

            {% block content %}{% endblock %}

            {% block pagination %}{% endblock %}
        </div>
        <div id="sidebar">
            {% block widgets %}
            {% include "posts/widgets.html" %}
            {% endblock %}
        </div>
    </div>
    <div id="footer">
        <div class="copyright">
            Copyright (C) {% now "Y" %} {{site_author}}
        </div>
    </div>
</div>
</body>
</html>
