{% load comments %}
{% load markdown_code %}

{% get_comment_count for posts.post post.id as comment_count %}
{% get_comment_list for posts.post post.id as comment_list %}

<div class="comments">
<h3 id="comments">Comments</h3>
{% if post.allow_comments %}
{% if comment_list %}
    {% for comment in comment_list %}
    <div class="comment" id="c{{ comment.id }}">
        <!--
        <span class="comnum"><a id="c{{ comment.id }}" href="c{{ comment.id }}">#{{ forloop.counter }}</a></span>
        -->
        <div class="head">
        <p>
        {% if comment.url %}
            <a href="{{ comment.url }}">{{ comment.name|escape }}</a>
        {% else %}
            {{ comment.name|escape }}
        {% endif %}
        commented, on {{ comment.submit_date|date:"j F Y \a\t H:i T" }}:</p>
        </div>
        <div class="body">
            <!-- {{ comment.comment|striptags|markdown_code|safe }} -->
            {{ comment.comment_html|safe }}
        </div>
    </div>
    {% endfor %}
{% else %}
<p>No comments.</p>
{% endif %}

<h3 id="respond">Post a comment</h3>
{% include "comments/comment_help.html" %}

{% render_comment_form for posts.post post.id %}
{% else %}
<p> Comments are disabled for this post.</p>
{% endif %}
</div>
