{% load comments %}

{% get_comment_count for posts.post post.id as comment_count %}

<div class="post">
    <h2><a href="{{post.get_absolute_url}}">{{post.title}}</a></h2>
    <div class="info">
        <span class="date">
            {% if post.pub_date %}
            Published on {{post.pub_date|date:"j F Y \a\t H:i T"}}
            by 
            {% if post.author.first_name %}
                {{post.author.first_name}} {{post.author.last_name}}
            {% else %}
                {{post.author.username}}
            {% endif %}
            {% else %}
            Unpublished
            {% endif %}
        </span>
        <span class="details">
            {% if comment_count %}
                <a href="{{post.get_absolute_url}}#comments">
                {{comment_count}} Comment{{comment_count|pluralize}}
                </a>
            {% else %}
                {% if post.allow_comments %}
                <a href="{{post.get_absolute_url}}#respond">
                Discuss
                </a>
                {% endif %}
            {% endif %}
        </span>
    </div>
    <div class="content">
    {{post.body_html|safe}}
    </div>
    <div class="meta">
    {% if post.get_tags %}
    Tagged: 
    {% for tag in post.get_tags %}
        <!-- TODO: do not have tag URL hardcoded here -->
        <a href="/tag/{{tag.name}}">{{tag.name}}</a>{% if not forloop.last %}, {%endif%}
    {%endfor%}
    {% else %}
    Not tagged.
    {% endif %}
    </div>
</div>
