body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
}

#main #menu {
    float: right;
    width: 30%;
    background: #ffffff;
    margin-top: 3em;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
    border-bottom: 1px solid #999999;
    margin-bottom: 0.2px;
    padding-bottom: 0px;
}

small {
    margin-top: 0px;
    padding-top: 0.2px;
    font-size: 0.7em;
    color: #666666;
}

p {
    font-size: 0.8em;
}

.sourcetable {
    border:0px solid #999999;
    font-size:90%;
    margin:1em 2em;
    padding: 0px;
    width:60%;
}


.linenos {
    background:#cccccc none repeat scroll 0 0;
}

.code {
    background:#eeeeee none repeat scroll 0 0;
    font-size:90%;
    padding:5px;
}

pre {
    margin: 0px;
    padding: 0px;
}

.post {
    width: 60%;
    text-align: left;
}

.post .info {
    font-size: 0.7em;
    color: #787878;
}

.post .info .date {
    float: left;
}

.post .info .details {
    float: right;
}

.post .meta {
    font-size: 0.7em;
    color: #787878;
}

.post .content {
    margin-top: 1.5em;
}
