body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
}
#main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #ffffff;
}

#main #menu {
    float: right;
    width: 30%;
    background: #ffffff;
    margin-top: 3em;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

small {
    font-size: 0.7em;
    color: #666666;
}

p {
    font-size: 0.8em;
}

.sourcetable {
    border:0px solid #999999;
    font-size:90%;
    margin:1em 2em;
    padding: 0px;
    width:60%;
}


.linenos {
    background:#cccccc none repeat scroll 0 0;
}

.code {
    background:#eeeeee none repeat scroll 0 0;
    font-size:90%;
    padding:5px;
}

pre {
    margin: 0px;
    padding: 0px;
}
