<p>
Comments are rendered using
<a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>
with the addition that code blocks may be prefixed with <tt>pygments:lang</tt>
where <tt>lang</tt> is the name of a language supported by
the <a href="http://pygments.org/languages/">Pygments syntax highlighting library</a>
in order to correctly highlight the code.
</p>
<p>
The pygments line must be indented by at least four spaces along with the code block
that it precedes. The preview button is your friend.
</p>
